config USR_LIB_TOKEN
  select USR_LIB_SMARTCARD
  bool  "Wookey javacard tokens communication protocol API"
  default y
  ---help---
  Support for communication with the Wookey project applets,
  including AUTH and DFU tokens.
config USR_LIB_TOKEN_CFLAGS
  string
  default " -I../../libs/token/api " if USR_LIB_TOKEN

config SMARTCARD_DEBUG
  bool "Activate debuggging for smartcard interaction"
  default n
  ---help---
  Activate various debugging for smartcard interaction.
  This option activate APDU/TPDU printing on serial console.
  This option is efficient only if KERNEL_NOSERIAL is deactivated.
